{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "**/*.spec.js"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.spec.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
